.main .objects-container{
    height: 450px;
}
.main .objects-container .card h4{
    text-align:center;
}

.main .objects-container #selectedCourse h4{
    text-align: left;
}

.main #result-container{
    height: 155px;
}

.main .objects-container .card button{
    border: none;
    outline: none;
    width: 100%;
    margin-top: 1em;
    background-color: transparent;
    color: #0969da;
}

.main .objects-container .card button i{
    position: relative;
    top: 2px;
    right: 5px;
}

footer{
    margin: 0;
}