.main .objects-container{
    height: auto;
}

.main p{
    margin: 1em 0em 0em 0em;
}

.main #result-container p{
    margin: 0;
    margin-bottom: 1em;
}
.main .objects-container #mapCard h4{
  text-align:center;
}

.main .footer{
    margin-top: 1em;
}

footer{
    margin: 0;
}

footer p {
    font-size: 1em !important;
}