.main {
    flex-direction: column;
}
    
.main .objects-container{
    height: auto;
}

.main p{
    margin: 1em 0em 0em 0em;
}

.main .subtitle{
    margin-bottom: 1em;
}

.main label{
    font-family: 'Raleway', sans-serif;
    margin: 1em 0em;
}

.main #cards-container{
    margin: 0;
}

footer{
    margin: 0;
}